.dashboard {
    display: block;
    margin: 10pt;
}

.dashboard .profile {
    height: 100pt;
    margin-top: 38pt;
    margin-bottom: 16pt;
}

.dashboard .profile .profileImage {
    display: inline-block;
    margin: -27pt 27pt;
    width: 110pt;
    height: 110pt;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1pt solid rgb(220, 255, 255);
    box-shadow: 0px 0px 12px -3px rgba(255,255,255,0.5),0px 0px 15px 0px rgba(255,255,255,0.1),0px 0px 15px -3px rgba(115,252,252,0.1);
}

.dashboard .profile .profileInfo {
    display: inline-block;
    vertical-align: top;;
}

.dashboard .profile .profileName {
    display: block;
    margin: 10.5pt 0 4pt;
}

.dashboard .profile .profileTagline {
    display: block;
    margin: 0;
}

.dashboard .selectTournament {
    width: 100%;
    grid-template-columns: auto;
    grid-template-rows: 110pt;
    display: grid;
    margin-bottom: 16pt;
}

@media screen and (min-width: 800px) {
    .dashboard .selectTournament {
        grid-template-columns: auto auto;
    }
}

.dashboard .selectTournament .eventActionItem h2 {
    margin-top: 20pt
}

.dashboard .selectTournament .eventActionItem {
    text-align: center;
}

.dashboard .selectTournament .eventActionItem input {
    margin-right: 3.25pt;
    margin-top: 0;
}

.dashboard .selectTournament .eventActionItem button {
    margin-left: 3.25pt;
    margin-top: 0;
}

.dashboard .tournamentSpread {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10pt;
    margin: 0pt;
}

@media screen and (min-width: 800px) {
    .dashboard .tournamentSpread {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1300px) {
    .dashboard .tournamentSpread {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1900px) {
    .dashboard .tournamentSpread {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.dashboard .tournamentSpread .event {
    height: 176pt;
}

.dashboard .sport::before {
    font-family: 'Material Icons Outlined';
    margin-right: 6pt;
    content: "\ea2f";
}

.dashboard .tournamentSpread .date::before {
    font-family: 'Material Icons Outlined';
    margin-right: 6pt;
    content: "\e878";
}

.dashboard .tournamentSpread .location::before {
    font-family: 'Material Icons Outlined';
    margin-right: 6pt;
    content: "\e55f";
}

.dashboard .tournamentSpread .participants::before {
    font-family: 'Material Icons Outlined';
    margin-right: 6pt;
    content: "\e7fb";
}